
.container {
  text-align: left;
}

.message-content {
  text-align: left;
}

.avatar {
  width: 30px;
  height: 30px;
  float: left;
  margin-right: 10px;
}

/* 

.message-content {
  overflow: hidden;
}

.text {
  margin-top: 0;
  margin-bottom: 4px;
} */